@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
	font-family: "Roboto", sans-serif;
}

:root {
	--cn-blue: #0071bc;
	--cn-orange: #fbb03b;
	--cn-sand: #f9cc3d;
	--cn-yellow: #f4e660;
	--cn-red: #ed1c24;
}

body {
	--bg-col-1: var(--cn-yellow);
	--bg-col-2: var(--cn-blue);
	--bg-col-3: var(--cn-orange);

	--text-col: black;
	--anchor-col: blue;

	background-color: var(--bg-col-1);
	color: var(--text-col);

	margin: auto;
	max-width: 1200px;
	transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
	--bg-col-1: #2e2e2e;
	--bg-col-2: #597e99;
	--bg-col-3: #879e56;

	--text-col: #d6d6d6;
	--anchor-col: #e5b567;

	background-color: var(--bg-col-1);
	color: var(--text-col);
}

main {
	width: 100%;
	flex-direction: column;
	justify-content: space-between;
	height: 80vh;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 50px 50px 50px 50px;
}

.header-bar {
	background-color: var(--bg-col-2);
	justify-content: space-between;
	border-radius: 6px;
}

.game-selector {
	background-color: var(--bg-col-3);
	flex-direction: column;
	border-radius: 6px;
	margin: 10px 0 10px 0;
}

.user-profile {
	justify-content: space-evenly;
	border-radius: 6px;
	margin: 0 0 50px 0;
}

h1,
h2,
h3,
h4,
h5,
p,
button,
input,
label {
	margin: 10px;
}

input,
label {
	font-size: 1.5em;
}

input {
	border-radius: 6px;
	text-align: center;
}
